@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body{
    font-family: "poppins", sans-serif;
}

.main-nav{
    background-color:#f9ece6;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.all-items{
    display: flex;
    justify-content: center;
}
.all-items a{
    text-decoration: none;
    color: black;
    
    font-family:"poppins", sans-serif ;
}
.all-items a span{
    border: 1px solid white;
    padding: 5px 10px;
    
    background-color: white;
    border-radius: 5px;
}
.login{
   margin-left: 30px;

}
.login a{
  margin-left: 8px;  
}
.bag{
    margin-left: 20px;
}
.bag i{
    margin-left: 20px;
}
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(/public/pic1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
/* banner */
.banner img{
    width: 100%;
    position: relative;
    filter: brightness(.5);
    
    height: 120vh;
}
.banner h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
color: white    ;
    bottom: 60%;
}

.banner p{
    position: absolute;
    bottom: 40%;
    transform: translate(-50%,-50%);    
    text-align: center;
    width: 70%;
    left: 50%;
    color: white ;
}
.banner button{
    position: absolute;
    bottom: 30%;
    transform: translate(-50%,-50%);   
    left: 50%;
    padding: 10px 25px;
    color: white;
    border: none;
    background-color: rgb(96, 184, 96);
 

}
.banner button:hover{
    border: 2px solid white;
    background-color: transparent;
    transition: .3s;
}
#about{
    position: absolute;
    bottom: 30%;
    transform: translate(-50%,-50%);   
    left: 90%;
    padding: 10px 25px;
    color: white;
    border: none;
    background-color: rgb(96, 184, 96);
}
.btns{
    display: flex;
    justify-content: space-around;
}

/* about */


.about_section {
    width: 100%;
    float: left;
}
.margin_top0{
    margin-top: 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: 600;
    padding-top: 10px;
    text-transform: uppercase;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    margin: 0px;
    padding-top: 55px;
}

.read_bt {
    width: 170px;
    float: left;
    padding-top: 55px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #fb6818;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
}

.read_bt a:hover {
    color: #fafafa;
    background-color: #252525;
}

.about_img {
    width: 100%;
    float: right;
}

.about_img img{
    margin-left: 10%;
    height: 300px;
}

